examType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://msp.gub.uy/solicitudReserva"
    xmlns="http://msp.gub.uy/solicitudReserva"
    elementFormDefault="qualified">

    <xs:complexType name="TipoExamenType">
        <xs:attribute name="codigo" type="xs:string" use="required" />
        <xs:attribute name="nombre" type="xs:string" use="required" />
    </xs:complexType>

</xs:schema>