ubicationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://msp.gub.uy/respuestaReserva"
    xmlns="http://msp.gub.uy/respuestaReserva" elementFormDefault="qualified">

    <xs:complexType name="UbicacionType">
        <xs:sequence>
            <xs:element name="departamento" type="xs:string" />
            <xs:element name="localidad" type="xs:string" minOccurs="0" />
            <xs:element name="calle" type="xs:string" />
            <xs:element name="nroCalle" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>