tarea2/response.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://msp.gub.uy/respuestaReserva"
    xmlns="http://msp.gub.uy/respuestaReserva"
    xmlns:et="http://msp.gub.uy/solicitudReserva"
    elementFormDefault="qualified">

    <xs:import namespace="http://msp.gub.uy/solicitudReserva" schemaLocation="./examType.xsd" />

    <xs:include schemaLocation="./institucionType.xsd" />

    <xs:complexType name="ExamenResponseType">
        <xs:sequence>
            <xs:element name="tipoExamen" type="et:TipoExamenType" />
            <xs:element name="equiposDisponibles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="equipo" type="EquipoDisponibleType" minOccurs="0"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Equipo disponible -->
    <xs:complexType name="EquipoDisponibleType">
        <xs:sequence>
            <xs:element name="disponibilidad">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="fechaHora" type="xs:dateTime" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Respuesta principal -->
    <xs:element name="RespuestaDisponibilidad">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fechaHoraRespuesta" type="xs:dateTime" />
                <xs:element name="institucionSalud">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="institucion" type="InstitucionType" />
                            <xs:element name="respuestaExamen" type="ExamenResponseType"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="solicitudID" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

</xs:schema>