tarea2/validateResponse.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://msp.gub.uy/respuestaReserva"
    xmlns="http://msp.gub.uy/respuestaReserva"
    xmlns:et="http://msp.gub.uy/solicitudReserva"
    elementFormDefault="qualified">

    <xs:complexType name="TipoExamenType">
        <xs:attribute name="codigo" type="xs:string" use="required" />
        <xs:attribute name="nombre" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="UbicacionType">
        <xs:sequence>
            <xs:element name="departamento" type="xs:string" />
            <xs:element name="localidad" type="xs:string" minOccurs="0" />
            <xs:element name="calle" type="xs:string" />
            <xs:element name="nroCalle" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InstitucionType">
        <xs:sequence>
            <xs:element name="ubicacion" type="UbicacionType" />
        </xs:sequence>
        <xs:attribute name="nombre" type="xs:string" use="required" />
        <xs:attribute name="codigo" type="xs:string" use="required" />
    </xs:complexType>


    <xs:complexType name="ExamenResponseType">
        <xs:sequence>
            <xs:element name="tipoExamen" type="TipoExamenType" />
            <xs:element name="equiposDisponibles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="equipo" type="EquipoDisponibleType" minOccurs="0"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Equipo disponible -->
    <xs:complexType name="EquipoDisponibleType">
        <xs:sequence>
            <xs:element name="disponibilidad">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="fechaHora" type="xs:dateTime" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Respuesta principal -->
    <xs:element name="RespuestaDisponibilidad">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="solicitudID" type="xs:string" />
                <xs:element name="fechaHoraRespuesta" type="xs:dateTime" />
                <xs:element name="institucionSalud" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="institucion" type="InstitucionType" />
                            <xs:element name="respuestaExamen" type="ExamenResponseType"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>