tarea2/validateQuery.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://msp.gub.uy/solicitudReserva"
    xmlns="http://msp.gub.uy/solicitudReserva" elementFormDefault="qualified">


    <xs:complexType name="TipoExamenType">
        <xs:attribute name="codigo" type="xs:string" use="required" />
        <xs:attribute name="nombre" type="xs:string" use="required" />
    </xs:complexType>

    <xs:element name="SolicitudReservaExamen">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="solicitudID" type="xs:string" />
                <xs:element name="tipoExamen" type="TipoExamenType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>